body{
    background-color: #223843;
    color: #EFF1F3;
}
#header{
    background-color: #D77A61;
}
#headerRight{
    float: right;
}
.break{
    color : #EFF1F3;
    border : 0.5px solid #EFF1F3;
}
#messageInput{
    width:90%;
}
#messages{
    list-style-type: none;
}